<!-- ======= SECTION ABOUT ME ======= -->

<section class="section-about" id="about-me">
    <div class="container about-container">
        <h2 class="title-about visually-hidden">About me</h2>
        <div class="box">
            <div class="text-wrapper">
                <p class="main-text-about">I work with people all over the world to create impressive and
                    <span class="red">functional</span>
                    <span class="grey">websites</span> that reflect each client's unique
                    personality.
                </p>
            </div>

            <picture>
                <source srcset="./images/about/about-desktop-min.png 1x,
                                ./images/about/abbout-desktop@2x-min.png 2x" media="(min-width: 1440px)" width="680"
                    height="700" />
                <source srcset="./images/about/about-tablet-min.png 1x,
                                ./images/about/about-tablet@2x-min.png 2x" media="(min-width: 768px)" width="704"
                    height="700" />
                <source srcset="
                              ./images/about/about-mobile-min.png  1x,
                              ./images/about/about-mobile@2x-min.png 2x
                            " media="(max-width: 767px)" width="343" height="500" />
                <img class="about-photo" src="./images/about/about-desktop-min.png" alt="Lloyd Jefferson`s foto" />
            </picture>
        </div>

        <ul class="about-me-list accordion-container">
            <li class="about-me-item ac ">
                <h3 class="subtitle-about ac-header ac-trigger">About me<button class="btn-svg-wrapper" type="button">
                        <svg class="ac-icon" width="20" height="20">
                            <use href="/images/svg/symbol-defs.svg#icon-arrow-down"></use>
                        </svg>
                    </button>
                </h3>
                <div class="ac-panel">
                    <p class="about-text ac-text">I am Lloyd Jefferson, a talented programmer with
                        extensive expertise
                        in
                        software development. I have an understanding of
                        different programming languages and technologies, always ready to improve my skills. I always
                        follow the latest trends
                        and look for unconventional, creative solutions to problems. I have a high level of analytical
                        skills and am able to
                        effectively solve even the most difficult tasks encountered on the way.</p>
                    <p class="about-text ac-text">Able to work both independently and in a team. I can
                        effectively
                        cooperate
                        with colleagues, exchanging ideas and finding
                        optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
                        situations, while
                        maintaining a high quality of work. I am always looking for opportunities for self-improvement.
                        I actively study new
                        technologies and practices to stay abreast of the latest innovations. I have a strong
                        understanding of various
                        programming languages, frameworks and architectural concepts that allow me to create efficient
                        and scalable software.</p>
                </div>
            </li>
            <li class="about-me-item ac ">
                <h3 class="subtitle-about ac-header ac-trigger" id="subtitle-about">Role<button class="btn-svg-wrapper"
                        type="button">
                        <svg class="ac-icon" width="20" height="20">
                            <use href="./images/svg/symbol-defs.svg#icon-arrow-down"></use>
                        </svg>
                    </button></h3>
                <div class="ac-panel">
                    <p class="about-text ac-text">Frontend development</p>
                    <p class="about-text ac-text">HeadlessCMS,Wordpress</p>
                    <p class="about-text ac-text">Blender(enjoy)</p>
                </div>
            </li>
            <li class="about-me-item ac ">
                <h3 class="subtitle-about ac-header ac-trigger" id="subtitle-about">Education<button
                        class="btn-svg-wrapper" type="button">
                        <svg class="ac-icon" width="20" height="20">
                            <use href="./images/svg/symbol-defs.svg#icon-arrow-down"></use>
                        </svg>
                    </button></h3>
                <div class="ac-panel">
                    <p class="about-text ac-text">2018 - 2019 / Frontend Development Diploma, GoIT IT
                        School, New York
                    </p>
                    <p class="about-text ac-text">2019 - 2020 / Advanced Web Development Certificate,
                        GoIT IT School,
                        New York
                    </p>
                    <p class="about-text ac-text">2020 - 2022 / Advanced Blender Animation Techniques,
                        Udemy</p>
                </div>
            </li>
        </ul>
        <div class="swip-wrap">
            <div class="swiper-container-about">
                <ul class="skills-list swiper-wrapper">
                    <li class="skills-item swiper-slide">
                        <p class="skills-text">HTML/CSS</p>
                    </li>
                    <li class="skills-item swiper-slide">
                        <p class="skills-text">JavaScript</p>
                    </li>
                    <li class="skills-item swiper-slide">
                        <p class="skills-text">React</p>
                    </li>
                    <li class="skills-item swiper-slide">
                        <p class="skills-text">Node. js</p>
                    </li>
                    <li class="skills-item swiper-slide">
                        <p class="skills-text">React Native</p>
                    </li>
                    <li class="skills-item swiper-slide">
                        <p class="skills-text">Vue.js</p>
                    </li>
                    <li class="skills-item swiper-slide">
                        <p class="skills-text">Soft skills</p>
                    </li>
                </ul>
                <div class="swiper-button-next-about"></div>
            </div>
            <button class="swip-btn" type="button"><svg class="icon-btn-right" width="28" height="28">
                    <use href="./images/svg/symbol-defs.svg#icon-btn"></use>
                </svg></button>
        </div>
    </div>
</section>