<section class="container section-covers">
  <div class="covers">
    <h1 class="visually-hidden">Covers</h1>
    <div class="marquee">
      <ul class="marquee__inner first">
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img1-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img2-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img3-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img4-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
      </ul>

      <ul class="marquee__inner second">
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img5-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img6-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img7-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img8-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
      </ul>

      <ul class="marquee__inner third">
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img9-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img10-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img1-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img2-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
      </ul>
      <ul class="marquee__inner fourth">
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img3-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img4-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img5-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
        <li class="marquee__line">
          <img
            src="../images/covers/covers-img/covers-img6-min.png"
            alt="cover"
            class="marquee__line-img"
            width="544"
            height="314"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
