<section class="hero">
  <div class="container">
    <h1 class="title-hero" id="txt">
      Hello. <br />
      I'm Fullstack developer <br />
      Lloyd Jefferson.
    </h1>

    <div class="social-hero">
      <ul class="social-list">
        <li class="social-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-link"
            target="_blank"
            ><span class="text-hidden">ig</span
            ><svg class="social-icons">
              <use href="./images/svg/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-link"
            target="_blank"
            ><span class="text-hidden">fb</span
            ><svg class="social-icons">
              <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-link"
            target="_blank"
            ><span class="text-hidden">yt</span
            ><svg class="social-icons">
              <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a
            href="https://github.com/Kost1v/Future-Developers2.0"
            class="social-link"
            target="_blank"
            ><span class="text-hidden">gh</span
            ><svg class="social-icons">
              <use href="./images/svg/symbol-defs.svg#icon-github-mark"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item item-email">
          <a
            href="mailto:lloydjefferson@gmail.com"
            class="social-link"
            target="_blank"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
