<section class="project-section" id="project-section-id">
  <div class="container">
    <h2 class="projects-title">PROJECTS</h2>
    <div class="swiper projects-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="control-desktop">
            <div class="background-white">
              <ul class="technology-list">
                <li class="technology-list-item">#react</li>
                <li class="technology-list-item">#js</li>
                <li class="technology-list-item">#node js</li>
                <li class="technology-list-item">#git</li>
              </ul>
              <h3 class="project">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                class="project-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://kost1v.github.io/Future-Developers2.0"
                >See project</a
              >
            </div>
            <div class="background-dark">
              <picture class="box-for-img">
                <source
                  media="(min-width: 768px)"
                  srcset="
                    images/project/project-desktop-img1-min.png    1x,
                    images/project/project-desktop-img1@2x-min.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    images/project/project-mobile-img1-min.png    1x,
                    images/project/project-mobile-img1@2x-min.png 2x
                  "
                />
                <img
                  src="images/project/project-mobile-img1-min.png"
                  alt="firsrt project"
                  class="images-project"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="control-desktop">
            <div class="background-white">
              <ul class="technology-list">
                <li class="technology-list-item">#react</li>
                <li class="technology-list-item">#js</li>
                <li class="technology-list-item">#node js</li>
                <li class="technology-list-item">#git</li>
              </ul>
              <h3 class="project">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                class="project-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://kost1v.github.io/Future-Developers2.0"
                >See project</a
              >
            </div>
            <div class="background-dark">
              <picture class="box-for-img">
                <source
                  media="(min-width: 768px)"
                  srcset="
                    images/project/project-desktop-img2-min.png    1x,
                    images/project/project-desktop-img2@2x-min.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    images/project/project-mobile-img2-min.png    1x,
                    images/project/project-mobile-img2@2x-min.png 2x
                  "
                />
                <img
                  src="images/project/project-mobile-img2-min.png"
                  alt="firsrt project"
                  class="images-project"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="control-desktop">
            <div class="background-white">
              <ul class="technology-list">
                <li class="technology-list-item">#react</li>
                <li class="technology-list-item">#js</li>
                <li class="technology-list-item">#node js</li>
                <li class="technology-list-item">#git</li>
              </ul>
              <h3 class="project">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                class="project-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://kost1v.github.io/Future-Developers2.0/"
                >See project</a
              >
            </div>
            <div class="background-dark">
              <picture class="box-for-img">
                <source
                  media="(min-width: 768px)"
                  srcset="
                    images/project/project-desktop-img3-min.png      1x,
                    images/project/project-desktop-img3@2x-1-min.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    images/project/project-mobile-img3-min.png    1x,
                    images/project/project-mobile-img3@2x-min.png 2x
                  "
                />
                <img
                  src="images/project/project-mobile-img3-min.png"
                  alt="firsrt project"
                  class="images-project"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-control-prj" id="custom-control">
      <button
        type="button"
        class="button-prev1"
        aria-label="Previous slider review"
      >
        <svg class="arrow-icon1">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button
        type="button"
        class="button-next1"
        aria-label="Next slider review"
      >
        <svg class="arrow-icon1">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
