<section class="review-section">
  <div class="container">
    <h2>REVIEWS</h2>
    <div class="slider-container review-slider-container">
      <div class="swiper-container review-swiper-container">
        <div class="swiper review-swiper">
          <ul class="swiper-wrapper js-reviews-list"></ul>
        </div>
      </div>
      <div class="button-control" id="custom-control">
        <button
          type="button"
          class="button-prev swiper-button-lock"
          aria-label="Previous slider review"
        >
          <svg class="arrow-icon">
            <use
              href="./images/svg/symbol-defs.svg#icon-arrow-narrow-left"
            ></use>
          </svg>
        </button>
        <button
          type="button"
          class="button-next swiper-button-lock"
          aria-label="Next slider review"
        >
          <svg class="arrow-icon">
            <use
              href="./images/svg/symbol-defs.svg#icon-arrow-narrow-left"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
