/* Секція Project */
.project-section {
  margin-top: 32px;
  margin-bottom: 64px;
}

/* Заголовок секції PROJECTS*/
.projects-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

/* Білий фон ul + h3 + a */
.background-white {
  background-color: #fafafa;
  border-radius: 24px 24px 0px 0px;
}

/* Список ul */
.technology-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 32px;
  padding-top: 32px;
  gap: 6px;
  padding-bottom: 96px;
}

/* li-шки списоку ul */
.technology-list-item {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}

/* h3 текст */
.project {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #1c1d20;
  padding: 0px 32px 32px 32px;
}

/* Проєктне посилання на Git */
.project-link {
  display: inline-block;
  background-color: #ed3b44;
  color: #fafafa;
  font-size: 16px;
  letter-spacing: -0.02em;
  border-radius: 60px;
  padding: 13px 32px;
  width: 141px;
  height: 45px;
  margin-left: 32px;
  margin-bottom: 32px;
  /* font-weight: 500; */
}

/* Темний фон для picture */
.background-dark {
  border-radius: 0 0 24px 24px;
  background-color: #242527;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

/* тег для зображень-picture */
.box-for-img {
  max-width: 100%;
  height: auto;
  padding: 100px 16px;
}

/* div для двух btn */
.button-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  gap: 12px;
}

/* Дві btn з svg-arrow */
.button-next .arrow-icon,
.button-prev .arrow-icon {
  fill: none;
  stroke-width: 2px;
  stroke: #fafafa;
  width: 24px;
  height: 24px;
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1),
    drop-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Дві btn*/
.button-next,
.button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-next:disabled,
.button-prev:disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.button-next:disabled .arrow-icon,
.button-prev:disabled .arrow-icon {
  stroke: #3b3b3b;
}

.button-next:hover:not(:disabled),
.button-prev:hover:not(:disabled) {
  border-color: white;
  background-color: transparent;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.button-next:hover:not(:disabled) .arrow-icon,
.button-prev:hover:not(:disabled) .arrow-icon {
  stroke: white;
  filter: drop-shadow(0 0 8px white);
}

@media screen and (min-width: 768px) {
  /* Секція Project */
  .project-section {
    margin-top: 48px;
    margin-bottom: 96px;
  }

  /* Список ul */
  .technology-list {
    padding-top: 64px;
    padding-left: 64px;
    padding-bottom: 164px;
  }

  /* li-шки списоку ul */
  .technology-list-item {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* h3 текст */
  .project {
    font-size: 44px;
    line-height: 100%;
    box-sizing: content-box;
    width: 494px;
    padding-left: 64px;
  }

  /* Проєктне посилання на Git */
  .project-link {
    border-radius: 60px;
    padding: 18px 50px;
    width: 177px;
    height: 55px;
    margin-left: 64px;
    margin-bottom: 64px;
  }

  /* тег для зображень-picture */
  .box-for-img {
    padding: 120px 45px;
  }

  /* Темний фон для picture */
  .background-dark {
    margin-bottom: 64px;
  }

  /* div для двух btn */
  .button-control {
    gap: 20px;
  }

  .button-next,
  .button-prev {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .button-next .arrow-icon,
  .button-prev .arrow-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  /* Секція Project */
  .project-section {
    margin-top: 82px;
    margin-bottom: 164px;
  }

  /* Білий фон ul + h3 + a */
  .background-white {
    border-radius: 24px 0px 0px 24px;
  }

  /* Список ul */
  .technology-list {
    padding-bottom: 223px;
  }

  /* h3 текст */
  .project {
    padding-right: 130px;
  }

  /* Темний фон для picture */
  .background-dark {
    width: 688px;
    height: 625px;
    border-radius: 0px 24px 24px 0px;
    margin-bottom: 0px;
  }

  /* тег для зображень-picture */
  .box-for-img {
    max-width: 100%;
    height: auto;
    padding: 0px;
  }

  /* inline wbg and dbg */
  .control-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
  }
}
