.review-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.review-section h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.button-next .arrow-icon,
.button-prev .arrow-icon {
  fill: none;
  stroke-width: 2px;
  stroke: #fafafa;
  width: 24px;
  height: 24px;
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1),
    drop-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-swiper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.review-swiper {
  width: 100%;
  height: 100%;
}

.review-swiper-slide {
  width: 100%;
}

.swiper-card {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  max-width: 344px;
  height: 302px;
  cursor: grab;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-card:hover,
.swiper-card:focus {
  background-color: #1f212d;
  box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.2),
    inset 0 3px 3px rgba(255, 255, 255, 0.2);
}

.card-image {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.card-text {
  overflow-y: auto;
  max-height: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.card-text::-webkit-scrollbar {
  width: 20px;
}

.card-text::-webkit-scrollbar-track {
  background: transparent;
}

.card-text::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 8px;
  border: 6px solid transparent;
  background-clip: padding-box;
}

.card-text::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

.card-text {
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 59, 59, 0.7) transparent;
}

.card-text:hover {
  scrollbar-color: rgba(59, 59, 59, 1) transparent;
}

.button-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  gap: 12px;
}

.button-next,
.button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-next:disabled,
.button-prev:disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.button-next:disabled .arrow-icon,
.button-prev:disabled .arrow-icon {
  stroke: #3b3b3b;
}

.button-next:hover:not(:disabled),
.button-prev:hover:not(:disabled) {
  border-color: white;
  background-color: transparent;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.button-next:hover:not(:disabled) .arrow-icon,
.button-prev:hover:not(:disabled) .arrow-icon {
  stroke: white;
  filter: drop-shadow(0 0 8px white);
}

.err-container {
  width: 100%;
  height: 302px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader-container.hidden {
  display: none;
}

.loader {
  color: #fff;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 302px;
}

@media screen and (min-width: 768px) {
  .review-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .swiper-card {
    max-width: 344px;
  }

  .button-control {
    gap: 20px;
  }

  .button-next,
  .button-prev {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .button-next .arrow-icon,
  .button-prev .arrow-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-card {
    max-width: 332px;
  }

  .review-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
