/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* library styles */

/* @import url('swiper/css/bundle');
@import url('accordion-js/dist/accordion.min.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('swiper/css');
@import url('swiper/css/navigation');
@import url('simplelightbox/dist/simple-lightbox.min.css'); */

/* Common styles */

@import url('./reset.css');

/* Sections style */

@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./project.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
